@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    background-color: #141414;
  
    font-family: 'Outfit', sans-serif;
  
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased; */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .underline-animation {
    position: relative;
    transition: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .underline-animation::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 2px;
    width: 0%;

  }
  .underline-animation:hover::before {
    content: '';
    background-color: white;
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 2px;
    width: 100%;
  }